@import "../styles/variables.scss";

.header {
    width: 100%;
    padding: 32px 32px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media screen and (min-width: $tablet) {
        padding: 64px 40px 47px;
    }
    @media screen and (min-width: $desktop) {
        padding: 64px 0 54px;
        width: 80%;
    }
}
.hamburger_btn {
    background: transparent;
    margin: 0;
    border: none;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
.navigation {
    display: none;
    a {
        text-decoration: none;
        font-family: "public";
        font-weight: 400;
        font-size: 0.8rem;
        color: var(--VeryLightGrey);
        margin-bottom: 32px;
        transition: 0.3s all ease-in-out;
        &:hover {
            cursor: pointer;
            color: var(--SlightlyDesaturatedCyan);
        }

        @media screen and (min-width: $tablet) {
            color: var(--GreyishDarkBlue);
            margin-bottom: 0;
            margin-left: 42px;
        }
    }

    @media screen and (min-width: $tablet) {
        display: initial;
        position: relative;
    }
}
.navigation .active {
    color: var(--SlightlyDesaturatedCyan);
}
.navigation_mobile {
    background-color: var(--GreyishDarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 0; /**/
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 32px;
    width: 60%;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}
